name: Android Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      ANDROID_SDK_ROOT: /usr/local/lib/android/sdk
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Install Android SDK components
        run: |
          yes | sdkmanager --licenses
          sdkmanager "platforms;android-34" "platform-tools" "build-tools;34.0.0"

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x gradlew

      - name: Build release APK
        run: ./gradlew clean :app:assembleRelease

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: app/build/outputs/apk/release/app-release.apk

      - name: Publish GitHub Release asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/release/app-release.apk
